<!-- src/main/resources/templates/home.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section},Home)}">
<head>
    <title>Home</title>
</head>
<body>
<section class="banner d-flex justify-content-center align-items-center">

<div class="text-center">
<h1>Smart Contact manager</h1>
<p>Start Collecting you contacts in smarter ways.We provide efficient and smarter way of handling contacts</p>
<button class="btn bg-secondary btn-lg ">Get Started</button>
</div>
</section>
 </body>
</html>
